<section class="clearfix">
  <div class="row">
    <div class="col-12">
      <div class="photo">
        <img src="./assets/images/foto.jpg" alt="Your alt text">
      </div>
      <div class="info">
        <h3>
          Aurora Soledad Guerra Ugas
        </h3>
        <h5>
          Bach. Ingeniería de Sistemas e Informática
        </h5>
        <p>
          Desarrolladora de software: web, móvil y escritorio. Con más de 4 años de experiencia.
          Egresada de la carrera de ingeniería de sistemas e informática.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="item-box clearfix">
        <i class="icon-envelope"></i>
        <div class="item-data">
          <h3>
            <a href="mailto:aguerra95ugas@gmail.com" target="_blank">aguerra95ugas@gmail.com</a>
          </h3>
          <p>Correo</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item-box clearfix">
        <i class="icon-facebook"></i>
        <div class="item-data">
          <h3>
            <a href="https://www.linkedin.com/in/aurora-soledad-guerra-ugas" target="_blank">
              aurora-soledad-guerra-ugas
            </a>
          </h3>
          <p>Linkendin</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item-box clearfix">
        <i class="icon-twitter"></i>
        <div class="item-data">
          <h3>
            <a href="https://github.com/Fasgu" target="_blank">Fasgu</a>
          </h3>
          <p>Github</p>
        </div>
      </div>
    </div>
  </div>
</section>
