<section class="clearfix">
  <div class="row">
    <ul class="timeline">
      <li *ngFor="let experience of experiences">
        <div [class]="isPar(experience.id) ? 'direction-l':'direction-r'">
          <div class="flag-wrapper">
            <span class="flag">{{experience.position}}</span>
            <span class="time-wrapper"><span class="time">{{experience.period}}</span></span>
          </div>
          <div class="desc">
            <i><b>{{experience.company}}</b></i><br>
            <ul class="pl-0">
              <li class="pb-0" *ngFor="let description of experience.descriptions" style="list-style: none;">{{description}}</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
