
  <ul class="etabs">
    <li class="tab" id="tab-about">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="icon-user"></i>
          <span>Acerca de Mi</span>
      </a>
    </li>
    <li class="tab">
      <a routerLink="skills" routerLinkActive="active">
        <i class="icon-file-text"></i>
        <span>Habilidades</span>
      </a>
    </li>
    <li class="tab">
      <a routerLink="experience" routerLinkActive="active">
        <i class="icon-heart"></i>
        <span>Experiencia</span>
      </a>
    </li>
    <li class="tab">
      <a routerLink="projects" routerLinkActive="active">
        <i class="icon-envelope"></i>
        <span>Proyectos</span>
      </a>
    </li>
  </ul>
