#header{
  margin-bottom: 2em;
}

#header #logo{
  text-align: center;
}

.info h4, #header h4{
  color: #59BD85;
  margin-bottom: 2em;
}
.info h6, #header h6{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .3em;
  color: #fff;
}

#tab-data-wrap{
  padding: 30px 20px;
  background: #fff;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 6px #2E8B57;
  border-radius: 0px 0px 4px 4px;
}

/* Tabs */
